body {
    background-color: #000000;
    color: #CCCCCC;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #8888CC;
}

a img {
    border: none;
}

a:hover {
    color: #EEE;
}

a:active {
    color: #FFF;
}

td {
    border: 1px solid #888;
    padding: 5px;
    margin: 0px;
}

table {
    border-collapse: collapse;
}

.main {
    width: 1000px;
    margin: auto;
}

.global_nav {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    overflow: visible;
}

.nav {
    float: right;
    border: 1px solid #555;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14pt;
}

.subtitle {
    font-size: 14pt;
    font-weight: bold;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #001133;
    text-align: center;
    font-size: 24pt;
    height: 195px;
    width: 100%;
    background-image: url('neuron.png'); 
    background-repeat: no-repeat;
    background-position: center;
}

.screenshot {
    border: 1px solid #555;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    width: 700px;
}

.screenshot img {
    margin-bottom: 10px;
}

.info {
    border: 1px solid #555555;
}

.thumb {
    float: left;
    padding: 5px;
    width: 210px;
}

.desc {
    vertical-align: top;
    padding: 10px;
}


.code {
    margin-right: auto;
    margin-left: 30px;
    font-family: monospace;
    background-color: #000;
}

.Q {
    font-weight: bold;
}

.A {
    padding-left: 15px;
    margin-bottom: 25px;
    margin-top: 5px;
}

.noborders tr td {
    border: 0px;
}
    
